{% extends 'main/header.html' %}

{% block content %}

    <div class="container">

        <div class="row">
            {% for cat in categories %}
                <div class="col s9 m12 l6">
                  <a href="{{cat.category_slug}}", style="color:#000">
                    <div class="card hoverable">
                      <div class="card">
                        <br><center>
                        <span class="card-title">{{cat.tutorial_category}}</span>
                        <div class="card-content">
                          <p>{{cat.category_summary}}</p>
                        </div>
                        </center>
                      </div>
                    </div>
                  </a>
            </div>
            {% endfor %}
          </div>

        <h5 align="center">In western astrology, the universe is formed by the four elements: Earth, Air, Fire and Water. These are the outward manifestations of the true Elements. Each of the four elements contains its own unique properties, which work simultaneously to create one united universe. None of the elements are inherently good or bad, however, each has both positive and negative qualities.</h5>

    </div>
            
{% endblock %}




